syntax: glob

config.h
config.mk
bin/flappy/flappy
bin/flappy-alternatives/flappy-alternatives
bin/flappy-create/flappy-create
bin/flappy-dgraph/flappy-dgraph
bin/flappy-fbulk/flappy-fbulk
bin/flappy-install/flappy-install
bin/flappy-pkgdb/flappy-pkgdb
bin/flappy-query/flappy-query
bin/flappy-reconfigure/flappy-reconfigure
bin/flappy-remove/flappy-remove
bin/flappy-rindex/flappy-rindex
bin/flappy-uhelper/flappy-uhelper
bin/flappy-uchroot/flappy-uchroot
bin/flappy-checkvers/flappy-checkvers
bin/flappy-uunshare/flappy-uunshare
bin/flappy-digest/flappy-digest
bin/flappy-fetch/flappy-fetch
*.static
*.so*
*.o
*.a
*.xml
*.png
*.pc
api/
doc/flappy_api_doxyfile
ftperr.h
httperr.h
tests/*/*/*/*_test
tests/*/*/*/*_tests
tests/*/*/*_test
tests/*/*/*_tests
include/flappy.h

# vim backup files
.*.swp
*~

# package repo build output (never commit signing keys)
repo/
.distfiles/
*.pem
